/_src/node_modules
/_src/public/hot
/_src/public/storage
/_src/storage/*.key
/_src/vendor
/_src/bootstrap/cache/*
!/_src/bootstrap/cache/.gitkeep
/_src/storage/framework/cache/*
!/_src/storage/framework/cache/.gitkeep
/_src/storage/framework/sessions/*
!/_src/storage/framework/sessions/.gitkeep
/_src/storage/framework/views/*
!/_src/storage/framework/views/.gitkeep
/_src/storage/logs/*
!/_src/storage/logs/.gitkeep
.env
.idea

.DS_Store
Thumbs.db

/logs
/data